NEXT_PUBLIC_SITE_URL=https://vorlay.shop
NEXT_PUBLIC_API_URL=https://api.vorlay.shop

NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_SNAP_PIXEL_ID=

NEXT_PUBLIC_ENABLE_PIXELS=true
NEXT_PUBLIC_ENABLE_DEBUG_EVENTS=false

NEXT_PUBLIC_WHATSAPP_NUMBER=212600000000
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/vorlay
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/vorlayshop
